.nav-logo {
    color: #000;
    text-decoration: none;
    color: unset;
}

.nav-titulo {
    color: #000;
}

.nav-link {
    color: #000;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 300px;
    justify-content: space-between;
}