.principal {
    width: 100%;
    padding: 2%;
}

.nav-logo {
    color: #000;
    text-decoration: none;
    color: unset;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 30%;
    justify-content: space-between;
}

.active {
    text-decoration: none;
}

#btn-catalogo {
    text-decoration: none;
}