.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40%;
    margin-top: 3%;
    margin-left: 10%;
    padding: 3%;
    background-color: #EDEDED;
    border-radius: 2%;
}

.areadetexto {
    width: 77%;
    background-color: #FFFFFF;
    border-radius: 3% 0 0 3%;
}

.btn-buscar {
    width: 30%;
    text-align: center;
    font-size: medium;
    background-color: #00285F;
    color: #FFFFFF;
    border-radius: 0 6% 6% 0;
}